<div id="message-<%= message.id %>">
  <small>
    <div class="head_msg">
      <span><%= image_tag message.user.avatar, class:"avatar_msg"%></span>
      <strong class="nickname_msg"><%= message.user.nickname %></strong>
      <i class= "date"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    </div>
  </small>
  <p class= "message_content"><%= message.content %></p>
</div>
