<div class="sign-in-container">
  <div class="container_signin">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :nickname,
                    autofocus: true %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

  <div class="welcome">
    <h1>Welcome on L'Accroche</h1>
    <p>Sign up to join our community of Artists!</p>
  </div>
</div>
