<div class="container py-3">
  <div class="page_profil">
    <div class="grid">
      <%= render "shared/banner" %>

        <div class="navigation_profil">
        <%= render "shared/bouton", text: "filter" %>
        <%= render "shared/bouton", text: "filter" %>
        <%= render "shared/bouton", text: "+ Project" %>
        </div>
      <%= render "shared/card_grid", locals: {projects: @projects} %>
      <%= render partial: "shared/user_likes", locals: { user: @user, projects: @liked_projects } %>
    </div>

    <div class="infos">
      <%= render "shared/profil_info" %>
    </div>
  </div>
</div>

<%= render partial: "shared/user_likes", locals: { user: @user, projects: @liked_projects } %>

