<div class="container py-3">
  <div class="page_profil" data-controller="profil">
    <div class="grid">
      <%= render "shared/banner" %>
        <div class="navigation_profil">
        <%# <%= render "shared/bouton", text: "filter" %>
        <%#= render "shared/bouton", text: "filter" %>
        <%#= render "shared/bouton", text: "+ Project" %>
          <ul>
            <li class="cursor" data-action="click->profil#toggleProjects">My projects</li>
            <li class="cursor"  data-action="click->profil#toggleLikes">My likes</li>
            <li class="cursor"  data-profil-target="newProject">New project</li>
          </ul>
        </div>
      <%= render "shared/card_grid", locals: {projects: @projects} %>
      <%= render partial: "shared/user_likes", locals: { user: @user, projects: @liked_projects } %>
    </div>

    <div class="infos">
      <%= render "shared/profil_info" %>
    </div>
  </div>
</div>
