<div class="container py-3">
  <div class="page_profil" data-controller="profil">
    <div class="grid">
      <%= render "shared/banner" %>
        <div class="navigation_profil">
          <ul>
            <%= render "shared/profil_items" %>
          </ul>
        </div>
      <%= render "shared/card_grid", locals: {projects: @projects} %>
      <%= render partial: "shared/user_likes", locals: { user: @user, projects: @liked_projects } %>
    </div>
    <div class="infos">
      <%= render "shared/profil_info" %>

    </div>
  </div>
</div>
