<% if params[:action] == "show" %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-nav">
<% else %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<% end %>
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "A.svg" %>
    <% end %>

    <!-- Display searchbar except on homepage and Top 10 -->
    <div class="nav_search">
      <% if params[:action] != "home" && params[:action] != "top"%>
        <%= render "shared/searchbar" %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Display navbar except on home -->
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <% if params[:action] != "home" %>
            <li class="nav-item active">
              <%= link_to "Top 10", top_projects_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "See All Projects", projects_path, class: "nav-link" %>
            </li>
            <li class="nav-item" data-controller="chatrooms">
              <%= link_to "Messages", "", class: "nav-link", data: { action: "click->chatrooms#toggleChatbox" } %>
              <div class="chatbox d-none" data-chatrooms-target="chatbox">
                <!-- DONE: Insérer un data target pour le listing des chatrooms -->
                <div data-chatrooms-target="chatroomsList">
                  <%= render "shared/chatrooms" %>
                </div>

                <% current_user.chatrooms.each do |chatroom| %>
                  <!-- DONE: Insérer un data target pour la chatroom -->
                  <!-- DONE: Insérer un data attribute data-chatroom-id=XXX -->
                  <div class="d-none" data-chatrooms-target="chatroom" data-chatroom-id="<%= chatroom.id %>">
                    <!-- TODO: Quand tout marchera, faire un vrai partial -->
                    <!-- Ici le partial de la chatroom <%= chatroom.id %> -->
                    <%= render "shared/chatroom", chatroom: chatroom %>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>

          <!-- Dropdown on profile picture -->
          <li class="nav-item dropdown">
            <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Upload", new_project_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
