<div class="profil-to-email" data-controller="profil-to-email">
  <div class="profil-info">
    <div class="contenu-profil" data-profil-to-email-target="viewprofil">
      <div class="picture">
        <div class="user-initials">

         <%= @user.first_name[0].capitalize %><%= @user.last_name[0].capitalize %>
        </div>
        <%= image_tag @user.avatar, class: "image_profil-info"%>
      </div>

      <h1><%= @user.nickname %></h1>
      <p class="collaborations">
        <strong>Collaborations</strong><br/>
        <%= @collabs_s %>
      </p>
      <p class="overflow"><strong>Who am I</strong> : <%= @user.description.first(130) %>...</p>
      <%= render "shared/bouton", text: "Show more" %>

      <% if @user != current_user %>
        <%= link_to "Chat", user_chatrooms_path(@user), data: { turbo_method: :post } %>
      <% end %>


      <div class="profil-info-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>

    <div class="email hidden" data-profil-to-email-target="viewemail">

      <%= render partial: "shared/form_contact", locals: { user: @user } %>

      <%= render "shared/bouton", text: "back" %>
    </div>
  </div>
</div>
