<div class="container py-3">
  <div class="page_profil">
    <div class="grid">
      <%= render "shared/banner" %>
      <%= render "shared/card_grid" %>
    </div>

    <div class="infos">
      <%= render "shared/profil_info" %>
    </div>
  </div>
</div>




  <%# <p><%= @user.first_name %>

  <%# <%= link_to "contact", "TODO" %>
