<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>[Projects]</h1>

      <!-- Buttons to filter projects by category -->
      <ul>
        <li><%= link_to Project::CATEGORIES[0], projects_path(:category => Project::CATEGORIES[0]) %></li>
        <li><%= link_to Project::CATEGORIES[1], projects_path(:category => Project::CATEGORIES[1]) %></li>
        <li><%= link_to Project::CATEGORIES[2], projects_path(:category => Project::CATEGORIES[2]) %></li>
      </ul>

      <ul>
        <% @projects.each do |p| %>
          <li>
            <%= p.title %>

            <!-- Display image IF there is a Cloudinary photo attached -->
            <%= cl_image_tag(p.photo.key, height: 400, width: 400) if p.photo.attached? %>

            <!-- Display embedded Spotify IF project has a music_url -->
            <% if p.video_url.present? %>
            <!-- EN CONSTRUCTION -->
            <iframe style="border-radius:12px"
              src="https://open.spotify.com/embed/track/1JBqbYJKV57GBuSLl3j3TN?utm_source=generator"
              width="100%"
              height="352"
              frameBorder="0"
              allowfullscreen=""
              allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
              loading="lazy"></iframe>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
