<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>[Projects]</h1>

      <ul>
        <% @projects.each do |p| %>
        <li><%= p.title %></li>
        <li>
          <% if p.photo.attached? %>
            <%= cl_image_tag p.photo.key, width: 300 %>
          <% elsif p.video_url.present? %>
            <%= image_url p.video_url %>
          <% elsif p.music_url.present? %>
            <%= image_url p.image_url %>
          <% end %>
        </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>

<p><%= link_to "Top 10 Music Video", top_projects_path %></p>

<% console %>
