<div class="container">
  <div class="row">
    <div class="col-12">

      <h1>[Project]</h1>
      <h2><%= @project.title %></h2>
      <p><%= @project.description %></p>
      <p><%= @project.user.nickname %></p>
      <% if @project.likes.length == 0 %>
        <p><%= link_to "Like", project_likes_path(@project), data: { turbo_method: :post } %></p>
      <% else %>
        <% if @project.likes.include?(@project_liked.last) %>
          <p><%= @project.likes.length %> Like (already liked)</p>
        <% else %>
          <p><%= link_to "Like", project_likes_path(@project), data: { turbo_method: :post } %></p>
          <p>On me voit?</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% console %>
