    <!-- Display Spotify player if project has a music URL -->
<div class="banner-wrapper">
  <picture class="img">
    <% if @project.music_url.present? %>
      <%= cl_image_tag @project.photo.key, class: "img" %>

    <% elsif @project.video_url.present? %>
      <%= cl_image_tag @project.photo.key, class: "img" %>

    <% elsif @project.photo.attached? %>
      <%= cl_image_tag @project.photo.key, class: "img" %>

    <% end %>

      <h1><%= @project.title %></h1>
      <p><a href="#project_title">Scroll to discover<br>|</a></p>
  </picture>
</div>

<div class="description_project px-5">
    <div class="header_description">
      <div class="title_desciption">
        <h2 id="project_title"><%= @project.title %></h2>
        <h3><%= link_to "#{@project.user.nickname}" , user_path(@project.user) %><span> | in collaboration with <%=link_to @project.collab, user_path(User.find(User.where(nickname: @project.collab).last.id)) %></span></h3>
      </div>


      <%= render "shared/counter_like",  project_liked: @project_liked, project: @project%>
    </div>

    <div class="content_description">
      <% if @project.music_url.present? %>
        <%= render 'spotify_player_large', url: @project.music_embed_url, class: "img" %>

      <% elsif @project.video_url.present? %>
        <%= render 'projects/youtube_player', url: @project.youtube_embed_url, class: "img" %>

      <% elsif @project.photo.attached? %>
        <%= cl_image_tag @project.photo.key, class: "img" %>

      <% end %>
    </div>

    <div class="description"><%= simple_format @project.description %></div>

    </div>
</div>
