<%# <h1>TOP 10</h1> %>

<main class="loop js-loop" id="main" data-controller="top-project" data-top-project-target="context" data-action="scroll->top-project#scroll mousemove->top-project#float scroll->top-project#zoomOnScroll">

  <div class="top-title">
    <h1>TOP 10</h1>
    <% @top10.each do |t| %>
      <h1><%= t.title %></h1>
    <% end %>
  </div>

   <div class="top-title">
   <h1>ARTISTS</h1>
    <% @top_artists.each do |t| %>
      <h1><%= t.nickname %></h1>
    <% end %>
  </div>

  <%# main cards %>

  <div class="infinite-scroll" data-top-project-target="zoom">
    <% @top10.each_with_index do |t, index| %>
      <section class="scrool_card top-card card" data-top-project-target="floatImage", style = "background-image: url('<%= cl_image_path t.photo.key, height: 450, width: 325, crop: :fill if t.photo.attached? %>')" >
        <div class="scrool_card_contenu float-image" data-top-project-target="floatTitle">
          <%= link_to t.title, project_path(t) %>
          <br />
          <%= link_to "by #{t.user.nickname}", user_path(t.user), class:"artist-nickname" %>
        </div>
      </section>
    <% end %>

    <%# clones %>

    <% @top10.first(2).each_with_index do |t, index| %>
      <section class="scrool_card top1 is-clone card " data-top-project-target="clone floatImage", style = "background-image: url('<%= cl_image_path t.photo.key, height: 450, width: 325, crop: :fill if t.photo.attached? %>')">
          <div class="scrool_card_contenu" data-top-project-target="floatTitle">
            <%= link_to t.title, project_path(t) %>
            <br />
            <%= link_to "by #{t.user.nickname}", user_path(t.user), class:"artist-nickname" %>
          </div>
      </section>
    <% end %>
  </div>

</main>
