<%# <h1>TOP 10</h1> %>

<main class="loop js-loop" id="main" data-controller="top-project" data-top-project-target="context" data-action="scroll->top-project#scroll">

  <% @top10.each_with_index do |t, index| %>
    <section class="scrool_card top-card float-image card">
      <div class="scrool_card_contenu">
        <%= t.title %>
      </div>
      <div>
        <%= t.description %>
      </div>
      <div>
        <%= t.category %>
      </div>
    </section>
  <% end %>

  <%# clones %>

  <% @top10.first(2).each_with_index do |t, index| %>
    <section class="scrool_card top1 is-clone card" data-top-project-target="clone">
        <div class="scrool_card_contenu">
          <%= t.title %>
        </div>
        <div>
          <%= t.description %>
        </div>
        <div>
          <%= t.category %>
        </div>
    </section>
  <% end %>

</main>

<%# console %>
