<!DOCTYPE html>
<html>
  <head>
    <title>Laccroche - create your musical network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta title="L'accroche | Make you create and improve your musical network">
    <meta descrition="'accroche let you connect within the huge comunauty of musical creators">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://use.typekit.net/oxr3hup.css">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
  </head>

  <body>

    <%= render "shared/navbar" %>

  <%= render "shared/flashes" %>
  <%= yield %>


  <% if params[:action] != "top" && params[:action] != "home" %>
    <%= render "shared/footer" %>
  <% end %>

  </body>
</html>
